.encabezado-titulo {
    background-color: #007c3b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
  }